@charset "utf-8";

/**
 * common.css
 *
 * @author 
 * @version 2015/12/27
 */

.startBtn {
    position: fixed;
    bottom: 80px;
    border: 1px solid #EFEEF6 !important;
    font-size: 18px;
    height: 45px;
    color: #EFEEF6 !important;
    width: 125px !important;
    border-radius: 0 !important;
    padding: 0px !important;
    display:block;
    text-align: center;
    line-height: 45px;
    text-shadow: none !important;
    background: rgba(255, 255, 255, 0.18);
    right: 50%;
    margin-right: -62.5px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {background-color:#525252 !important;}

.className {
    text-shadow: none !important;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #EFEEF6;
}

#nav {
    margin-top: 42px;
}

ul#tabs {
    width: 100%;
}

ul#tabs li.swiper-slide {
    float:left;
    text-align:center;
}

ul#tabs li.swiper-slide img {
    display: block;
    width: 90%;
}

.pagination-div {
    margin-top: 50px;
    text-align: center;
}

ul.pagination {
    list-style: none;
    display: block;
}

ul.pagination li {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: solid #EFEEF6 1px;
    display: inline-block;
}

ul.pagination li.active {
    background-color: #EFEEF6;
}
