@charset "utf-8";

/**
 * common.css
 *
 * @author 
 * @version 2015/12/27
 */

.startBtn {
    position: fixed;
    bottom: 80px;
    border: 1px solid #EFEEF6 !important;
    font-size: 18px;
    height: 45px;
    color: #EFEEF6 !important;
    width: 125px !important;
    border-radius: 0 !important;
    padding: 0px !important;
    display:block;
    text-align: center;
    line-height: 45px;
    text-shadow: none !important;
    background: rgba(255, 255, 255, 0.18);
    right: 50%;
    margin-right: -62.5px;
}
