@charset "utf-8";

/**
 * common.css
 *
 * @author 
 * @version 2015/12/27
 */

.startBtn {
    position: fixed;
    bottom: 80px;
    border: 1px solid #EFEEF6 !important;
    font-size: 18px;
    height: 45px;
    color: #EFEEF6 !important;
    width: 125px !important;
    border-radius: 0 !important;
    padding: 0px !important;
    display:block;
    text-align: center;
    line-height: 45px;
    text-shadow: none !important;
    background: rgba(255, 255, 255, 0.18);
    right: 50%;
    margin-right: -62.5px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {background-color:#525252 !important;}

.className {
    text-shadow: none !important;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #EFEEF6;
}

#nav {
    margin-top: 10px;
}

ul#tabs {
    width: 100%;
}

ul#tabs li.swiper-slide {
    float:left;
    text-align:center;
}

ul#tabs li.swiper-slide img {
    display: block;
    width: 90%;
}

.pagination-div {
    margin-top: 10px;
    text-align: center;
}

ul.pagination {
    list-style: none;
    display: block;
}

ul.pagination li {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: solid #EFEEF6 1px;
    display: inline-block;
}

ul.pagination li.active {
    background-color: #EFEEF6;
}

.swiper-pagination-bullet {
    margin: 0 5px 0 5px;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #EFEEF6;
}

.swiper-pagination-bullet-active{
    background-color: #EFEEF6 !important;
}

.template-tab {
    position: fixed;
    bottom: 0;
    display: block;
    height: 50px;
    border-top: 1px solid #EFEEF6;
    width: 100%;
    max-width: 640px;
    background-color: #525252;
}

.template-tab li {
    color: #EFEEF6;
    text-shadow: none !important;
    height: 50px;
    line-height: 50px;
    width: 70px !important;
    text-align: center;
}

.template-tab li a, .template-tab li a:hover {
    color: #EFEEF6;
    text-shadow: none !important;
}

ul.templates-lists {
    padding: 20px 10px 20px 10px;
    margin-bottom: 51px;
}

ul.templates-lists li {
    display: inline-block;
    margin-bottom: 20px;
}

ul.templates-lists li.left-image {
    margin-right: 20px;
}

ul.templates-lists li img {
    display: block;
    width: 100%;
}
